albumentations
torch
torch-tb-profiler
torchvision
pytorch-lightning
lightning[extra]
torchsummary
tensorboard
scikit-image
pandas
numpy
matplotlib
jupyter
jupyterlab
notebook
ipywidgets
ipykernel
flake8
black
isort
h5py
